/**
 * epsoid中index如果小于0则需要加0
 */
var addprefix = function(index) {
  return index < 10 ? "0" + index : index
}
/**
 * 处理pubdate
 */
//月份中文
var months = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'];
var pubdate = function(pubdate) {
  var date = getDate(pubdate);
  return date = {
    year: date.getFullYear(),
    month: months[date.getMonth()]
  }

}

module.exports = {
  Addprefix: addprefix,
  Pubdate: pubdate
}